@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.currentIssueTitle {
  text-align: center;
  margin: 20pt;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.currentIssue {
  height: 400pt;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

.issuesTitle {
  text-align: center;
  margin: 30pt;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.aboutUsTitle {
  text-align: center;
  margin: 30pt;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.paragraph { 
  color: black; 
  font-family:"Times New Roman", serif; 
  font-size: 16pt; 
  margin:0pt; 
  padding-top: 8pt;
  padding-left: 5pt;
  text-indent: 36pt;
  text-align: left;
}

.article {
  margin-right: 10%; /* Same width as the sidebar + left position in px */
  margin-left: 20px;
}

.caption {
  color: rgb(63, 63, 63); 
  font-family:"Times New Roman", serif; 
  font-size: 12pt; 
  margin:0pt; 
  padding-top: 2pt;
  padding-bottom: 10pt;
  text-align: center;
}

#climateAgricultureImg {
  width: 400pt;
  height: 400pt;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 86px;
  right: -120px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  transition: 0.3s;
  --vis: hidden;
}

.sidenav:hover {
  right: 0px;
  --vis: visible;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
  transition: 0.3s;
  visibility: var(--vis);
}

.sidenav a:hover {
  color: #064579;
}

/* On phones, where width is less than 500px, change the style of the sidebar (protrudes more) */
@media only screen and (max-width: 600px) {
  .sidenav {right: -100px;}
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media only screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}