.navbar-brand {
  padding: 0px;
}

.navbar-text {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

.nav-link-issues {
  color: rgb(170, 170, 170);
}

.nav-link-issues.hover {
  color: black;
}